.button {
  font: inherit;
  border: 1px solid #00981e;
  background: #00981e;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #00981e;
  border-color: #00981e;
}

.button:focus {
  outline: none;
}
